.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 4rem 0.8rem 4rem;
  gap: 2rem;
}

.logo {
  width: 10rem;
  cursor: pointer;
}

.NavItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.2rem;
}

.rightNavItems {
}
